.im-error-main {
    background: #fff;
    margin: 10px;
    border: 1px solid rgb(232, 229, 239);
    color: rgb(51, 47, 81);
    word-break: break-word;
    line-height: 1.25;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.im-error-main dl,
.im-error-main dd,
.im-error-main h3,
.im-error-main p,
.im-error-main pre {
    margin: 0;
}
.im-error-main .exc-message {
    font-size: 1.5rem;
    padding: 2.5rem 3rem;
}
.im-error-main .exc-message > p {
    margin: 0;
}
.im-error-main .exc-message > .exc-class {
    font-size: 80%;
    color: rgba(30, 20, 70, 0.5);
}
.im-error-main .exc-message > .exc-msg {
    font-weight: 600;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}

.im-error-main .exc-message > .ui-url {
    display: inline-block;
    line-height: 1.25;
    font-size: 0.875rem;
    font-weight: 400;
    text-decoration: underline;
    color: rgba(30, 20, 70, 0.5);
    -webkit-text-decoration-color: rgba(20, 0, 100, 0.2);
    text-decoration-color: rgba(20, 0, 100, 0.2);
}

.im-error-main .tab-nav {
    background-color: rgb(75, 71, 109);
    line-height: 0;
}

.im-error-main .tab-nav > ul {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    overflow-x: auto;
}

.im-error-main .tab-nav > ul > li {
    display: inline-flex;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    height: 3rem;
    color: rgb(232, 229, 239);
    font-size: 0.875rem;
    white-space: nowrap;
    cursor: pointer;
    margin: 0;
}

.im-error-main .tab-nav > ul > li.active,
.im-error-main .tab-nav > ul > li:hover {
    background-color: rgba(30, 20, 70, 0.5);
    color: rgb(255, 255, 255);
}

.im-error-main .tab-main {
    max-width: 80rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.im-error-main .tab-main h3 {
    font-weight: 600;
    margin-bottom: 0.75rem;
    font-size: inherit;
}

.im-error-main .tab-main > div {
    display: none;
    font-size: 0.875rem;
    max-width: 80rem;
    padding: 2rem 0;
    margin-left: auto;
    margin-right: auto;
}

.im-error-main .tab-main h3 {
    font-weight: 600;
    margin-bottom: 0.75rem;
}

.im-error-main .tab-main .definition-list {
    display: grid;
    grid-column-gap: 1.5rem;
    grid-row-gap: 0.5rem;
}

.im-error-main .tab-main .definition-list > dt {
    color: rgba(30, 20, 70, 0.5);
    word-wrap: break-word;
}

.im-error-main .tab-main .definition-list > dd {
    word-break: break-all;
    margin-bottom: 1rem;
    line-height: 1.25;
}

/* Stack trace */
.im-error-main .stack-trace-item {
    position: relative;
    border: 1px solid rgb(232, 229, 239);
    border-top: 0;
}
.im-error-main .stack-trace-item:nth-child(1) {
    border-top: 1px solid rgb(232, 229, 239);
}

.im-error-main .stack-trace-item a {
    color: rgb(79, 15, 143) !important;
    display: block;
    text-decoration: none;
}

.im-error-main .stack-trace-item > label {
    display: block;
    cursor: pointer;
}

.im-error-main .stack-trace-item .header {
    display: flex;
    padding: 1.25rem;
    padding-left: 2rem;
}

.im-error-main .stack-trace-item .header > .number {
    padding-right: 1rem;
    color: rgb(121, 0, 245);
}

.im-error-main .stack-trace-item .header span.sub {
    display: block;
    color: rgba(30, 20, 70, 0.5);
}

.im-error-main .stack-trace-item .code-block {
    display: none;
    background: #f6f8fa;
    color: rgb(75, 71, 109);
    font-size: 1rem;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

.im-error-main .stack-trace-item input:checked ~ .code-block {
    display: flex;
}

.im-error-main .stack-trace-item .code-block .lines {
    background: rgb(247, 247, 252);
    border-right: 1px solid rgb(238, 238, 245);
}

.im-error-main .stack-trace-item .code-block p {
    height: 30px;
    line-height: 30px;
}

.im-error-main .stack-trace-item .code-block .lines > p {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.im-error-main .stack-trace-item .code-block pre {
    flex: 1;
    white-space: normal;
    padding: 0;
    margin: 0;
}

.im-error-main .stack-trace-item .code-block pre > p {
    padding: 0 1rem;
    white-space: pre;
}

.im-error-main .stack-trace-item .code-block .lines .highlight {
    background: rgb(236, 211, 253);
}
.im-error-main .stack-trace-item .code-block pre > p:hover,
.im-error-main .stack-trace-item .code-block pre .highlight {
    background: #f3e9fa;
}

@media screen and (min-width: 640px) {
    .im-error-main .tab-main {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        max-height: 500px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .im-error-main .tab-main .definition-list {
        grid-template-columns: 8rem 1fr;
    }
    .im-error-main .tab-main .definition-list > dt {
        text-align: right;
    }
    .im-error-main .tab-main .definition-list > dd {
        margin-bottom: 0;
    }
    .im-error-main .tab-main h3 {
        margin-left: 9.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .im-error-main .tab-main .definition-list {
        grid-template-columns: 14rem 1fr;
    }
    .im-error-main .tab-main h3 {
        margin-left: 15.5rem;
    }
}

@media screen and (max-width: 425px) {
    .im-error-main .exc-message {
        padding: 1.5rem 2rem;
    }
}

@media screen and (max-width: 767px) {
    .im-error-main .exc-message {
        padding: 1.5rem 2rem;
    }
}
